{{#if user}}
    <p class="error-status">{{error_status_code}}</p>
    <p class="error-message">{{error_messages}}</p>

    <form action="/search" method="POST" id="search-item-form">

        <div class="mb-3">
            <label for="search_term" class="form-label">Search Items</label>
            <input id="item-search" placeholder="headphones" name="search_term" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Search Items</button>
    </form>

    <hr>

    <h3>Browsing {{universityName}} items:</h3>

    {{#if itemsList}}
        {{#each itemsList}}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/items/{{this._id}}" class="btn btn-primary">See More</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>There are no items yet. Click "List New Item" to add one.</p>
    {{/if}}
{{else}}
    <p>This is the about page.</p>
{{/if}}
