{{#if user}}
    <p class="error-status">{{error_status_code}}</p>
    <p class="error-message">{{error_messages}}</p>

    <form action="/search" method="POST" id="search-item-form">

        <div class="mb-3">
            <label for="search_term" class="form-label">Search by keyword</label>
            <input id="item-search" placeholder="headphones" name="search_term" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Search Items</button>
    </form>

    <hr>

    <h3>Browsing {{universityName}} items:</h3>

    {{#if itemsList}}
        {{#each itemsList}}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/items/{{this._id}}" class="btn btn-primary">See More</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>There are no items yet. Click "List New Item" to add one.</p>
    {{/if}}
{{else}}
    <hr>
    <h3>What is Unisell?</h3>
    <p>Unisell is a used-item marketplace exclusive to university students. Verified university students can buy or sell used
    items.</p>
    <hr>
    <h3>Our goal</h3>
    <p>Unisell is designed to improve college communities and promote reuse of items by providing a platform where students
    can safely interact.</p>
    <hr>
    <h3>How does Unisell work?</h3>
    <p>To join us, all you need is your student email address.
        Once you create an account, you can post or buy items.
    </p>
        <p>Purchasing items:</p>
        <ol>
            <li>Leave a comment on the post you wish to purchase if you have any questions.</li>
            <li>Create a bid.</li>
            <li>You will be notified if your bid is accepted.</li>
        </ol>
        <p>Selling items:</p>
        <ol>
            <li>Create a post with photos, keywords, descriptions, etc.</li>
            <li>Accept a bid that you like.</li>
            <li>Communicate with the buyer to decide when and where to meet.</li>
        </ol>
        <p>*Note that all transactions happen on campus.</p>
    <hr>
    <h3>Participating Universities:</h3>
    {{#each universityList}}
      <ul>
          <li>{{ this }}</li>
      </ul>
    {{/each}}

</p>
{{/if}}
