<div class="alert alert-success" role="alert">
  Congratuations, you accepted a bid for ${{acceptedPrice}}! You can contact {{acceptedUsername}} at {{acceptedEmail}} to discuss futher. Thanks for using Unisell!
</div>

<p>Please take a moment to rate {{acceptedUsername}}:</p>

<a href="/items/{{id}}" class="btn btn-secondary">Back</a>
